asgiref==3.8.1
blinker==1.8.2
certifi==2024.6.2
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
clock==0.1
colorama==0.4.6
idna==3.7
image==1.5.33
itsdangerous==2.2.0
keyboard==0.13.5
MarkupSafe==2.1.5
pillow==10.3.0
pycparser==2.22
pygame==2.6.0
pymunk==6.9.0
python-dateutil==2.9.0.post0
pytz==2024.1
setuptools==74.1.2
six==1.16.0
tzdata==2024.1
tzlocal==5.2
tqdm==4.66.6
requests==2.32.3
flask==3.0.3